@import '../variables';

.credit{
    background: $bg-color;
    text-align: center;
    color: $white;
    padding: 3rem 0 5rem 0;
    font-size: 2.7rem;
    position: relative;
    font-weight: bolder;
    span{
        color: $blue;
    }
    .powered span{
        color: #fff;
        position: absolute;
        top: 6rem;
        right: 2rem;
        font-size: 1.7rem;
        font-weight: bolder;
        i{
            padding-right: .5rem;
            vertical-align: middle;
            color: #61dafb;
        }
    }
    a{
        color: $blue;
        &:hover{
            text-decoration: underline;
        }
    }
}