@import '../variables';

.review{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    flex-wrap: wrap;
    .box-container{
        flex: 1 1 42rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .box{
            flex:  1 1 20rem;
            background: $bg-color;
            padding: 2rem;
            border-radius: 1rem;
            border: .2rem solid $black;
            overflow: hidden;
            &:hover{
                border: $border;
            }
            p{
                color: $light-color;
                font-size: 1.4rem;
                line-height: 2;
                padding-bottom: 1rem;
            }
            .user{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                img{
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                }
                .info{
                    h3{
                        font-size: 2rem;
                        color: $white;
                    }
                    span{
                        color: $blue;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    .content{
        flex: 1 1 42rem;
    }
}